#dropdownMenuButton {
 margin-right: 60px;
  border: none;
  color:black;
}

#profile {
  color: black;
}

button{
  font-family: 'Playfair Display', serif;
}

#profile:hover {
  text-decoration: none;
}
.nav-link:hover {
  background: #e4e4e4;
  border-radius: 15px;
}
#dropdownMenuButton:hover {
  background: #e4e4e4;
  border-radius: 15px;
}

@media(max-width: 992px){
  li{
    width: 150px;
  }
}

.active {
  background: #e4e4e4;
  border-radius: 15px;
}

.registerActions{
  display: flex;
  justify-content: center;
  align-content: center;
}

.loginActions{
  display: flex;
  justify-content: center;
  align-content: center;
}

.mat-dialog-title{
  text-align: center;
}

.registerList{
  list-style: none;
  margin-left: 20px;
}

.loginList{
  list-style: none;
  margin-left: 20px;
}



@media(max-width: 992px) {
  .registerList {
    margin: auto;
  }
}

@media(max-width: 992px) {
  .loginList{
    margin: auto;
  }
}
