<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand">Elte Movie App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"
          [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="home">Főoldal<span class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="authService.isLoggedIn" class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"
          [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="reservations">Foglalásaim</a>
      </li>
      <li *ngIf="authService.isLoggedIn" class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"
          [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="profile">Profil</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <div ngbDropdown class="d-inline-block">
          <button mat-stroked-button
                  [matMenuTriggerFor]="menu">{{authService.isLoggedIn ? authService.username : 'Profil'}}</button>
          <mat-menu #menu="matMenu">
            <button *ngIf="!authService.isLoggedIn" class="nav-item" data-toggle="collapse"
                    data-target=".navbar-collapse.show" (click)="openLoginDialog()" mat-menu-item>Bejelentkezés
            </button>
            <button *ngIf="!authService.isLoggedIn" class="nav-item" data-toggle="collapse"
                    data-target=".navbar-collapse.show" (click)="openRegisterDialog()" mat-menu-item>Regisztráció
            </button>
            <button *ngIf="authService.isLoggedIn" class="nav-item" data-toggle="collapse"
                    data-target=".navbar-collapse.show" (click)="logout() " mat-menu-item>Kijelentkezés
            </button>
          </mat-menu>
        </div>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
