<h1 mat-dialog-title>Bejelentkezés</h1>
<div mat-dialog-content class="loginFormField">
  <p style="text-align: center">Add meg a felhasználónevet és a jelszót</p>
  <ul class="loginList">
    <li>
      <mat-form-field>
        <mat-label>Felhasználónév</mat-label>
        <input matInput [(ngModel)]="data.username">
      </mat-form-field>
    </li>
    <li>
      <mat-form-field>
        <mat-label>Jelszó</mat-label>
        <input matInput type="password" [(ngModel)]="data.password">
      </mat-form-field>
    </li>
    <li>
      <div *ngIf="loginError" style="color: red">Hiba a bejelentkezés során!</div>
    </li>
  </ul>
</div>
<div mat-dialog-actions class="loginActions">
  <button mat-stroked-button (click)="onNoClick()">Vissza</button>
  <button mat-stroked-button (click)="onLoginClick(data.username, data.password)">Bejelentkezés</button>
</div>
