<h1 mat-dialog-title>Regisztráció</h1>
<div mat-dialog-content class="registerFormField">
  <p style="text-align: center">Add meg a felhasználónevet és a jelszót</p>
  <ul class="registerList">
    <li>
      <mat-form-field>
        <mat-label>Felhasználónév</mat-label>
        <input matInput [(ngModel)]="data.username">
      </mat-form-field>
    </li>
    <li>
      <mat-form-field>
        <mat-label>Jelszó</mat-label>
        <input matInput type="password" [(ngModel)]="data.password">
      </mat-form-field>
    </li>
    <li>
      <div *ngIf="registerSuccess" style="color: green">Sikeres regisztráció!</div>
      <div *ngIf="registerError" style="color: red">Már létező felhasználó!</div>
    </li>
  </ul>
</div>
<div mat-dialog-actions class="registerActions">
  <button mat-stroked-button (click)="onNoClick()">Vissza</button>
  <button mat-stroked-button (click)="onRegisterClick(data.username, data.password)">Regisztrálás</button>
</div>
