@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body,html {
  font-family: 'Playfair Display', serif;
  background-image: url("img/background2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
