h1, h2, p {
  text-shadow: 2px 2px black;
}

img {
  max-width:200px;
}

.card{
  margin: 15px;
  width: 200px;
  background-color: #a9a9a9;
}

.card-title{
  font-size: medium;
}

h1, h4{
  color: whitesmoke;
}


@media(max-width: 992px){
  h1{
    font-size: x-large;
  }

  .card{
    margin: 0 0 10px;
  }

  h4, .mat-card-title{
    font-size: small;
  }
}

#main {
  background-image: none;
  background-color: rgba(49, 49, 49, 0.8);
  height: 94%;
  width: 60vw;
  padding: 10px;
  margin: auto;
  text-align: center;
}
