<div class="container">
  <div id="main">
    <h1>Filmet szeretnél nézni? Jó helyen jársz!</h1>
    <h4>Válaszd ki a TE filmedet és foglald le a jegyet hozzá ma!</h4>

    <div class="row">
        <div *ngFor="let movie of movies" class="col-sm">
          <div class="card">
            <a href="{{movie.link}}" data-lightbox="roadtrip"><img class="card-img-top" src="{{movie.link}}"></a>
            <div class="card-body">
              <h5 class="card-title">{{movie.title}} - {{movie.releaseYear}}</h5>
              <a class="btn btn-light">Foglalás</a>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
